/* 
===========================
Brand colors
===========================
*/

$brand-primary: #dc3862;
$brand-secondary: #942e80;


/* 
===========================
Supporting colors
===========================
*/

$white: #fff;
$black: #000;
$gray: #ebebeb;
$dark-text: #3D3A34;
$gray-text: #A0A0A0;

/* 
===========================
Brand Typography
===========================
*/

$primary-typeface: 'Lato', sans-serif;


/* 
===========================
Typography Sizes
===========================
*/

$xxs-size: 12px;
$xs-size: 14px;
$sm-size: 18px;
$md-size: 21px;
