@import "variables";

.badge {
  background-color: $white;
  flex-basis: 100%;
  padding-bottom: 10px;
  ul {
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    li {
      line-height: 1.8;
    }
  }
  p {
    padding: 10px;
  }
  .material-icons {
    color: $gray-text;
    &:hover {
      color: darken($color: $gray-text, $amount: 12);
      transition-duration: 0.2s;
    }
  }
}

.edit-btn {
  background-color: $white;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.hr-badge {
  border-bottom: 2px solid $gray;
}
