/* 
===========================
Flex Layout
===========================
*/

.layout {
  &.horizontal,
  &.vertical {
    display: flex !important;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  // alignment in cross axis 

  &.center {
    align-items: center;
  }

  // alignment in main axis 

  &.between-justified {
    justify-content: space-between;
  }

}

//Responsive flex-basis

.flex-33 {
  flex-basis: 33.333%;
}

.flex-65 {
  flex-basis: 65%;
}


//mobile-only styles
@media (max-width: 768px) {
  .layout {
    &.horizontal-sm {
      flex-direction: row !important;
    }

    &.vertical-sm {
      flex-direction: column;
    }
  }
}
