@import "variables";

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-content {
    background-color: $white;
}

.modal-header {
    padding: 10px;
    text-align: center;
    color: $white;
    background-color: $brand-primary;
    border-radius: 8px 8px 0px 0px;
}
.modal-footer {
  padding: 10px;
  text-align: center;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    text-align: center;
    background-color: $gray;
}

.modal-btn {
  background-color: $brand-secondary;
  color: $white;
  border-radius: 10px !important;
  border-color: transparent;
  padding: 5px 20px;
  &:hover {
    background-color: rgba(85, 35, 82, 1);
    transition-duration: .2s;
    cursor: pointer;
  }
}

input[type=text] {
  padding: 8px 18px;
  margin: 8px;
  border-radius: 10px;
  border: transparent;
  width: 90%;
}
//////


  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 6px 10px 10px 0 rgba(0, 0, 0, 0.35);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  