@import "variables" ;

.nav {
  height: 100%;
  flex-direction: column;
  background: $brand-primary;
  min-width: 60px;
  max-width: 60px;
  text-align: center;
  color: $white;
  * span.material-icons {
    color: $white;
    padding: 10px 0;
  }
  * img {
    padding-bottom: 10px;
  }
  background-image: linear-gradient(-180deg, $brand-primary 0%, $brand-secondary 100%);
  box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.35);
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.35);
  transition-duration: 0.2s;
}

.hr-nav-top {
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,.25);
}

.hr-nav-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,.25);;
}

.wrapper {
  display: flex;
  height: 100%;
}

