@import "variables";

/* 
===========================
Typography
===========================
*/
body {
  font-family: $primary-typeface;
  font-size: $xxs-size;
  color: $dark-text !important;
}

p {
  font-family: $primary-typeface;
  font-size: $xxs-size;
  margin: 0;
}

///font-weight

.light {
  font-weight: 300;
}

.md-weight {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.brand-primary {
  color: $brand-primary !important;
}

.brand-secondary {
  color: $brand-secondary !important;
}

.white {
  color: $white !important;
}

.black {
  color: $black !important;
}

.gray {
  color: $gray !important;
}

.gray-text {
  color: $gray-text !important;
}

.dark-text {
  color: $dark-text !important;
}

///font size

.xxs-text {
  font-size: $xxs-size !important;
}

.xs-text {
  font-size: $xs-size !important;
}

.sm-text {
  font-size: $sm-size !important;
}

.medium-text {
  font-size: $md-size !important;
}

.material-icons {
  font-size: $md-size;
}

///responsive sizes

@media (max-width: 768px) {
  p {
    font-family: $primary-typeface;
    font-size: 16px;
  }

  .xxsmall-text {
    font-size: $xxs-size !important;
  }

  .xsmall-text {
    font-size: $xxs-size !important;
  }

  .small-text {
    font-size: 16px !important;
  }

  .medium-text {
    font-size: $sm-size !important;
  }
}
